<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default :: default-fragment(
                                                ~{::title},
                                                ~{:: #style-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <title>Công ty</title>
    <th:block id="style-resources"></th:block>
</head>
<body>
    <div id="main-content">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Công ty</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Công ty</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tìm kiếm công ty</h4>
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tên công ty</label>
                                        <input type="text" class="form-control" placeholder="Tên công ty">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" placeholder="Số điện thoại">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tình trạng</label>
                                        <select class="form-control">
                                            <option>Tất cả</option>
                                            <option>Hoạt động</option>
                                            <option>Không hoạt động</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-info btn-rounded m-t-10">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách công ty</h4>
                        <a href="/company/add"><button type="button" class="btn btn-info btn-rounded m-t-10 float-right">Thêm mới</button></a>
                        <div class="table-responsive">
                            <table class="table color-bordered-table muted-bordered-table m-t-30">
                                <thead>
                                    <tr>
                                        <th width="10px">STT</th>
                                        <th>Tên công ty</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Ngày tạo</th>
                                        <th>Tình trạng</th>
                                        <th width="120px" class="text-center">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>VPBank</td>
                                        <td>19001731</td>
                                        <td>hotro@vpbank.com.vn</td>
                                        <td>14/01/2020</td>
                                        <td>Hoạt động</td>
                                        <td class="text-center">
                                            <a href="/company/edit/1">Sửa</a> | <a href="/company/delete/1">Xóa</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block id="js-resources"></th:block>
</body>
</html>